# Copie para .env ou apenas conecte pelo visualizador: o servidor grava este arquivo
# automaticamente a cada conexao bem-sucedida com o broker.
MQTT_PROTOCOL="mqtt"
MQTT_HOST="broker.emqx.io"
MQTT_PORT="1883"
MQTT_REJECT_UNAUTHORIZED="true"
MQTT_USERNAME=""
MQTT_PASSWORD=""
MQTT_TELEMETRY_TOPIC="robot/telemetry"
MQTT_COMMAND_TOPIC="robot/command"
